@font-face {
	font-family: 'icomoon';
	src:url('fonts-clientes/icomoon.eot?-17snv3');
	src:url('fonts-clientes/icomoon.eot?#iefix-17snv3') format('embedded-opentype'),
		url('fonts-clientes/icomoon.woff?-17snv3') format('woff'),
		url('fonts-clientes/icomoon.ttf?-17snv3') format('truetype'),
		url('fonts-clientes/icomoon.svg?-17snv3#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

#consultarClienteNewDesign, #ingresarClienteNewDesign, #modificarClienteNewDesign, .spanAtrasClientesNewDesign, .spanGuardarCliente, .spanModificarCliente, .spanEliminarCliente, .spanEditarCliente, .spanEditarCliente2, .paraIconos,#ingresarUsuario,#consultarUsuario,#modificarUsuario
{
	display: block;
	margin-bottom: 8px;
	font-family: 'icomoon';
	font-size: 60px;
	font-weight: normal;
}
.equipoConsultarMasNewDesign1,.equipoConsultarMasNewDesign2,.agregaPosicionIngresarNewDesign,.agregaTransitoIngresarNewDesign,.equipoConsultarMasNewDesign3,.equipoConsultarMasNewDesign4,.modificaEnlaceNewDesign1, .modificarMasFallaDesign,.modificarMasFallaDesign2,.fallasConsultarMas
{
	font-family: 'icomoon';
	font-size: 16px;
	font-weight: normal;
	margin-top: 8px;
}
.modificarTransitoModificarNewDesign2, .eliminarTransitoModificarNewDesign1, .agregarTransitoModificarNewDesign1, .linkMapaCentralesConsultar, .linkMapaCentralesModificar, .linkMapaCentralesModificar2, .linkParaModificarSalas, .linkParaModificarSalas2, .consultarMasDesign, .consultarMasDesign2
{
	font-family: 'icomoon';
	font-size: 16px;
	font-weight: normal;
}
.modificarTransitoModificarNewDesign1,.modificarPosicionModificarNewDesign1, .modificandoEnlaceNewDesign1, .eliminandoEnlaceNewDesign1
{
	font-family: 'icomoon';
	font-size: 37px;
	font-weight: normal;
	margin-top: 3px;
}
.consultarMasDesign:before,.consultarMasDesign2:before
{
	content: "\e63b";
	cursor: pointer;	
	font-size: 21px;
}
.modificarMasFallaDesign:before,.modificarMasFallaDesign2:before
{
	content: "\e643";
	cursor: pointer;	
	font-size: 21px;
}
.fallasConsultarMas:before
{
	content: "\e64a";
}
.linkMapaCentralesModificar:before, .linkMapaCentralesModificar2:before
{
	content: "\f00b";
	cursor: pointer;	
	font-size: 21px;
}
.linkParaModificarSalas:before, .linkParaModificarSalas2:before
{
	content: "\e677";
	cursor: pointer;	
	font-size: 18px;
}
.linkMapaCentralesConsultar:before
{
	content: "\e66c";
	cursor: pointer;	
	font-size: 25px;
}
.modificandoEnlaceNewDesign1:before
{
	content: "\f085";
	font-size: 30px;
}
#ingresarUsuario:before
{
	content: "\f0c0";
	color: #18489A;
}
#consultarUsuario:before
{
	content: "\e60c";
	color: #D1740D;
}
#modificarUsuario:before
{
	content: "\e61c";
	color: #7F120A;
}
.eliminandoEnlaceNewDesign1:before
{
	content: "\e66e";
	font-size: 30px;
}
.agregarTransitoModificarNewDesign1:before
{
	content: "\e657";
	font-size: 25px;
}
.eliminarTransitoModificarNewDesign1:before
{
	content: "\f081";
	font-size: 25px;
}
.modificarTransitoModificarNewDesign2:before
{
	content: "\f044";
	font-size: 25px;
}
.modificaEnlaceNewDesign1:before
{
	content: "\e60e";
	font-size: 40px;
}
.modificarTransitoModificarNewDesign1:before
{
	content: "\f0d4";
	font-size: 37px;
}
.modificarPosicionModificarNewDesign1:before
{
	content: "\e60a";
	font-size: 30px;
}
.agregaPosicionIngresarNewDesign:before, .agregaTransitoIngresarNewDesign:before
{
	content: "\f090";
	font-size: 40px;
}
.igresoNuevoEnlaceNewDesign:before
{
	content: "\e642";
	font-size: 50px;
}
.equipoConsultarMasNewDesign1:before, .equipoConsultarMasNewDesign2:before
{
	content: "\e674";
	cursor: pointer;
}
.equipoConsultarMasNewDesign3:before, .equipoConsultarMasNewDesign4:before
{
	content: "\e647";
	cursor: pointer;
}
.colConEnlace2 .equipoConsultarMasNewDesign3
{
	color: #356710;
}
.colConEnlace2 .equipoConsultarMasNewDesign4
{
	color: #18489A;
}
#seten
{
	font-weight: bold;
	width: 80%;
	text-align: justify;
}
.alertMensaje
{
	font-family: 'icomoon';
	font-weight: normal;
	font-size: 33px;
	margin-right: 5px;
}
.alertMensaje:before
{
	content: "\e64f";
	color: #FFB20E;
}
.consultarIconoFallasNewDesign:before
{
	content: "\e607";
	color: #18489A;
	font-size: 54px;
}
.ingresarIconoFallasNewDesign:before
{
	content: "\e65e";
	color: #D1740D;
}
.modificarIconoFallasNewDesign:before
{
	content: "\e623";
	color: #7F120A;
}
.consultarIconoEnlacesNewDesign:before
{
	content: "\e67d";
	color: #18489A;
}
.ingresarIconoEnlacesNewDesign:before
{
	content: "\e67e";
	color: #D1740D;
}
.modificarIconoEnlacesNewDesign:before
{
	content: "\e67f";
	color: #7F120A;
}
.consultarIconoCentralesNewDesign:before
{
	content: "\e668";
	color: #18489A;
}
.modificarIconoCentralesNewDesign:before
{
	content: "\e660";
	color: #7F120A;
}
.ingresarIconoCentralesNewDesign:before
{
	content: "\e667";
	color: #D1740D;
}
.consultarIconoSalasNewDesign:before
{
	content: "\e663";
	color: #18489A;
}
.modificarIconoSalasNewDesign:before
{
	content: "\e662";
	color: #7F120A;
}
.ingresarIconoSalasNewDesign:before
{
	content: "\e665";
	color: #D1740D;
}
#consultarEquiposNewDesign:before
{
	content: "\f030";
	color: #18489A;
	font-size: 55px;
}
#ingresarEquiposNewDesign:before
{
	content: "\e62d";
	font-size: 55px;
	color: #D1740D;
}
#modificarEquiposNewDesign:before
{
	content: "\f031";
	font-size: 50px;
	color: #7F120A;
}
#modificarEquipos2
{
	font-size: 15px;
}
.spanGuardarCliente:before
{
	content: "\f1ac";
	color: #7F120A;
}
.spanGuardarEquipo:before
{
	content: "\f06a";
	color: #7F120A;	
}
.spanGuardarEquipoFallas:before
{
	content: "\e66b";
	color: #7F120A;
	font-size: 40px;
}
.spanGuardarEquipoFallas
{
	font-size: 40px;
}
#aceptarEquipo, #ingresarClientes,#guardarFalla1
{
	color: #7F120A;
}
.spanEditarCliente:before, .spanEditarCliente2:before
{
	content: "\e615";
}
.linkEquiposNewDesign:before, .linkEquiposNewDesign2:before
{
	content: "\e609";
}
.linkEquiposNewDesign3:before, .linkEquiposNewDesign4:before
{
	content: "\e606";
}
.linkEquiposNewDesign, .linkEquiposNewDesign2, .linkEquiposNewDesign3, .linkEquiposNewDesign4
{
	font-size: 16px;
}
#linkEquiposNewDesignId1
{
	color: #18489A;
}
#linkEquiposNewDesignId2
{
	color: #356710;
}
#linkEquiposNewDesignId3
{
	color: #18489A;
}
#linkEquiposNewDesignId4
{
	color: #356710;
}
#linkEquiposNewDesignId1:hover, #linkEquiposNewDesignId2:hover, #linkEquiposNewDesignId3, #linkEquiposNewDesignId4
{
	cursor: pointer;
}

.spanEditarCliente
{
	font-size: 16px;
	color: black;
}
.spanEditarCliente2
{
	font-size: 16px;
	color: #18489A;
}
.spanEliminarCliente:before
{
	content: "\f032";
}
.spanModificarCliente:before
{
	content: "\e623";
}
#modificarClientes
{
	color: #7B2F9A;
}
#eliminarClientes
{
	color: #B43C2E;
}
.spanAtrasClientesNewDesign:before
{
	content: "\e621";
}
 .spanAtrasClientesNewDesign:hover
 {
 	transform: scale(1.08) rotate(20deg);
	-webkit-transform: scale(1.08) rotate(20deg);
	-moz-transition: all 0.5s ease;
 }
.aGuardarCliente:hover
 {
 	cursor: pointer;
	transform: scale(1.08);
	-webkit-transform: scale(1.08);
	-moz-transition: all 0.5s ease;
 }
.aGuardarCliente
 {
 	margin-top: 12px;
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
 }
 .spanAtrasClientesNewDesign
 {
 	margin: 0 auto;
	font-size: 40px;
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
 }

.spanGuardarCliente 
{
	margin: 0 auto;
	font-size: 40px;
}
.spanGuardarEquipo
{
	margin: 0 auto;
	font-size: 40px;
}
.spanModificarEquipo:before
{
	content: "\f0ad";
}
.spanModificarEstatus:before 
{
	content: "\f035";
}
.spanNuevaObservacion:before
{
	content: "\e608";
}
.spanModificarCentral:before
{
	content: "\e623";
}
.spanEliminarCentral:before
{
	content: "\e678";
}
.spanEliminarEquipo:before
{
	content: "\f090";
}
.spanModificarEquipo, .spanModificarCentral, .spanModificarEstatus, .spanNuevaObservacion
{
	margin: 0 auto;
	font-size: 40px;
}
.spanEliminarEquipo, .spanEliminarCentral
{
	margin: 0 auto;
	font-size: 44px;
}
.spanModificarCliente
{
	font-size: 50px;
}
.spanEliminarCliente
{
	font-size: 35px;
}
#consultarClienteNewDesign:before
{
	content: "\e613";
	color: #D1740D;
}
#ingresarClienteNewDesign:before
{
	content: "\e61d";
	color: #18489A;
}
#modificarClienteNewDesign:before
{
	content: "\e617";
	color: #7F120A;
}

/*ROJOOOOOOO*/
#ulMenuIconos #modificarCliente2, #ulMenuIconos #modificarEquipos2, #ulMenuIconos #linkNewSalaModificar, #ulMenuIconos #camEliCentral, #ulMenuIconos #linkTextoEnlacesModificar, #ulMenuIconos #textoFallasNewEliminar, .colConEnlace .equipoConsultarMasNewDesign2, #botonEliminarTransito,#botonEliminarPosicion,#ingresarCentralAceptar, #eliminaCentral1, #modificarCentralAceptar,#ingresarNuevoEnlace
{
	color: #7F120A;
}
/*#ingresarNuevoEnlace
{
	color: #ab6800;
}*/
/*AZULLLLL*/
#ulMenuIconos #ingresarCliente2, #ulMenuIconos #consultarEquipos2, #ulMenuIconos #linkNewSalaConsultar, #ulMenuIconos #conCentralLink, #ulMenuIconos #linkTextoEnlacesConsultar, #ulMenuIconos #textoFallasNewConsultar, .colConEnlace .equipoConsultarMasNewDesign1,#agregarPosicionIngresarEnlace,#modificaEnlace, #tablaModificarCentrales .linkMapaCentralesModificar,#modificaCentral1, #tablaModificaSalas .linkParaModificarSalas, #consultaFallas1 .consultarMasDesign, #tablamodificar2 .modificarMasFallaDesign,#nuevaObservacion
{
	color: #18489A;
}
/*NARANJAAAAA*/
#ulMenuIconos #consultarCliente2, #ulMenuIconos #ingresarEquipos2, #ulMenuIconos #linkNewSalaIngresar, #ulMenuIconos #ingCentralLinkAbajo, #ulMenuIconos #linkTextoEnlacesIngresar, #ulMenuIconos #textoFallasNewIngresar
{
	color: #D1740D;
}
.otroParaModificar
{
	text-align: center;
	margin: 0 auto;
}
.espModCliente
{
	margin-right: 2em;
}
#dirCl2,#nomCl2
{
	background-color: white;
}
/*MORADOOOOO*/
#modificarEquipo2,#modificaPosicion, #botonModificarTransito, #botonModificarPosicion,#eliminarEnlace3
{
	color: #7B2F9A;
}
/*ROSADOOOOO*/
#eliminarEquipo1,#modificaTransito, #agregarTransitoModificar, #agregarPosicionModificar,#modificarEnlace3
{
	color: #B43C2E;
}
 #ingresarNuevoEnlace,#modificaTransito, .modificarTransitoModificarNewDesign1,.modificarPosicionModificarNewDesign1, #modificaEnlace,#botonModificarTransito,#botonEliminarTransito,#agregarTransitoModificar,#agregarPosicionModificar,#botonModificarPosicion,#botonEliminarPosicion, #modificarEnlace3,#eliminarEnlace3,#ingresarCentralAceptar, #modificarCentralAceptar
 {
 	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
 }
 #ingresarNuevoEnlace:hover,#modificaTransito:hover, .modificarTransitoModificarNewDesign1:hover,.modificarPosicionModificarNewDesign1:hover, #modificaEnlace:hover,#botonEliminarTransito:hover,#botonModificarTransito:hover,#agregarTransitoModificar:hover,#agregarPosicionModificar:hover,#botonModificarPosicion:hover,#botonEliminarPosicion:hover, #modificarEnlace3:hover,#eliminarEnlace3:hover,#ingresarCentralAceptar:hover, #modificarCentralAceptar:hover
 {
 	cursor: pointer;
	transform: scale(1.08);
	-webkit-transform: scale(1.08);
	-moz-transition: all 0.5s ease;
 }

@media (max-width: 908px){

	.perfilMas
	{
		font-family: 'icomoon';
		font-size: 20px;
		font-weight: normal;
	}
	.perfilMas:before
	{
		content: "\f0a0";
	}
	#otroDiv 
	{
		display: inline-block;
		padding: 0 10px;
		width: auto;
	}
	#perfilResponsive
	{
		display: inline-block;
	}
	#perPerfil
	{
		display: none;
	}
	#perfilResponsive:hover
	{
		cursor: pointer;
	}
	#izquierdoPerfil
	{
		/*transition: all 0.5s ease;
		-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;*/
	}
	#izquierdoPerfil
	{
		min-width: 160px;
	}
}
@media (max-width: 593px){
	nav
	{
		background-color: #e7b752;
		display: block;
		position: relative;
		z-index: 1;
		display: none;
		border-bottom: 4px solid #ab6800;
	}
	nav ul
	{

	}
	nav ul li
	{
		background: #f7f7f7; /* Old browsers */
	background: -moz-linear-gradient(top,  #e7bf52 0%, #e7b752 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ab6800), color-stop(100%,#e7bf52)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e7bf52 0%,#e7b752 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e7bf52 0%,#e7b752 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e7bf52 0%,#e7b752 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #e7bf52 0%,#e7b752 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ab6800', endColorstr='#ab6809',GradientType=0 ); /* IE6-9 */
		display: block;
	}
	nav ul li:hover
	{
		background-color: #e7bf52;
		border-bottom: 1px solid #e09509;
	}
	#divMenu
	{
		display: inline-block;
		margin-top: 7px;
		font-weight: bold;
		color: #7F120A;
		position: absolute;
		right: 10px;
		cursor: pointer;
	}
	#otroDiv
	{
		background-color: #18489A;
		height: 35px;
	}
	/*#izquierdoPerfil
	{
		background-color: #fff;
	}*/
	/*#lista3 li, #lista3
	{
		background-color: #fff;
	}*/
	#barra
	{
		background-color: #e7bf52;
		border-bottom: 2px solid #fff;
	}
	#contenedorMenuClientes, .contenedorAfuera
	{
		border-radius: 0;
		margin: 0;
		padding-left: 0;
		padding-right: 0;
	}
	#divMenuIconos,.contenedorAdentro
	{
		border-radius: 0;
	}
}
@media (max-width: 823px){
	header img
	{
		min-height: 95px;
	}
}
@media (max-width: 593px){



}