#izquierdoPerfil, header, #barra 
{

  display: none !important;

}
#derechoContenedor
{
	width: 100%;
}
#searchform,#tablaConsultarDatos,#divImprimirInforme
{
	display: none !important;
}
.divMarginWidth
{
	margin-top: 0;
}