html
{
	width: 100%;
	height: 100%;
}
body
{	
	background-image: url(../Img/Inicio/Fondo.jpg);
	background-size: 100% 100%;    
}
.calle
{
	top: 60%;
	z-index: 1;
}
.calle img
{
	width: 100%;
}
.carro, .calle
{
	margin: 0 auto;
	position: absolute;
	text-align: center;	
	width: 100%;

}
.carro
{
	top: 58%;
	z-index: 2;
}
.carro img
{
	width: 37%;
}
.login_container
{
	border: 1px solid #F7D358;
	margin: 5% auto;
	padding: 0.3em;
	position: relative;
	text-align: center;
	z-index: 3;
	width: 30%;
}
.log_img img
{
	width: 80px;
	opacity: 0.5;
}
.titulo
{
	color: white;
	margin-top: 0;
}
.usuarios
{
	border: 0;
	color: black;
	display: block;
	font-weight:bold;
	margin: 5px auto;
	opacity: 0.6;
	padding: 0.3em;
	text-align: center;
}
.usuarios:hover
{
	opacity: 0.8;
}
.btn_login
{
	background-color: #424242;
	border: 0;
	color: #ececec;
	display: block;
	font-weight: bold;
	margin: 1em auto;
	padding: 0.4em;
	text-align: center;
	width: 50%;
}

/*Animacion del Carro */
#moverCarro{
	
	-webkit-animation: carro 5s linear infinite  running;
	animation-name: moverCarro;
	animation-duration: 5s;
	animation-timing-function: linear;
	animation-iteration-count:infinite;
	animation-play-state:running;
}
@keyframes moverCarro{
	0% {left: 0%;}
	25% {left: 25%;}
	50% {left: 50%; }
	75% {left: 75%;}
	100% {left: 100%; display: none;}
}
 /*Opera, Chrome */
@-webkit-keyframes carro{
	0% {left: 0%;}
	25% {left: 25%;}
	50% {left: 50%; }
	75% {left: 75%;}
	100% {display: none;}
}

/*///////////////////////////////////////////////////*/
/*--------------------RESPONSIVE---------------------*/
/*///////////////////////////////////////////////////*/

@media (max-width: 850px){

	.calle
	{
		top: 60%;
	}
	.calle img
	{
		height: 150px;
	}
	.carro img
	{
		width: 350px;
	}
}
@media (max-width: 700px){
	.btn_login
	{
		width: 100px;
	}
	.login_container
	{
		width: 90%;
	}
}

@media (max-width: 360px){
	.carro img
	{
		height: 130px;
		width: 300px;
	}
}
@media (max-width: 300px){
	.carro
	{
		top: 60%;
	}
	.carro img
	{
		height: 130px;
		width: 250px;
	}

}
@media (max-width: 253px){
	.carro
	{
		top: 65%;
	}
	.carro img
	{
		height: 100px;
		width: 180px;
	}
}
@media (max-height: 450px) and (min-width: 253px){
	.carro
	{
		top: 68%;
	}
	.carro img
	{
		height: 100px;
		width: 200px;
	}
	.calle
	{
		top: 60%;
	}
	.calle img
	{
		height: 150px;
	}
}
@media (max-height: 424px) and (min-width: 253px){
	.carro
	{
		top: 68%;
	}
	.carro img
	{
		height: 100px;
		width: 200px;
	}
	.calle
	{
		top: 63%;
	}
	.calle img
	{
		height: 130px;
	}
}
@media (max-height: 400px) and (min-width: 253px){
	.carro
	{
		display: none;
	}
	.calle
	{
		top: 60%;
	}
	.calle img
	{
		height: 130px;
	}
}