
@font-face {
	font-family: 'icomoon';
	src:url('../Fonts/icomoon.eot');
	src:url('../Fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../Fonts/icomoon.woff') format('woff'),
		url('../Fonts/icomoon.ttf') format('truetype'),
		url('../Fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

html 
{ 
	height: 100%;
	width: 100%;
}
body
{
	background-image: url(../Img/Otras/Fondo2.png);
	background-size: 100% 100%; 
	background-attachment: fixed;
	font-family: 'PT Sans', sans-serif;
	font-size: 16px;
}
footer
{
	background-color: #373037;
	bottom: 0;
	height: 25px;
	position: fixed;
	width: 100%;
}
body header img
{
	width: 100%;
}
nav
{
	display: inline-block;
	padding: 0;
	margin: 0;margin-left: -4px;
	vertical-align: top;
}
nav ul ,#lista2 ,#lista3,#menuFallas, #tabs
{
	line-height: 35px;
	list-style: none;
	margin: 0;
	padding: 0;
}
nav ul li, #lista2
{
	padding: 0;
	padding-left: 1.3em;
	padding-right: 1.3em;
	margin: 0;
	
	display: inline-block;
	vertical-align: top;
	text-align: center;
}
a{
	text-decoration: none;
	color:black;
	font-weight: bold;
}
/* Sub menu*/
#barra
{
	background-color: #e7e7e7;
	border: #757776 solid 1px;
	border-top: #757776 solid 2px;
	margin-top: -5px;
	height: 35px;
}

nav ul li:hover, #lista2 li:hover{
	background-color: #e7b752;
	border-bottom: 1px solid #e09509;
	
}
nav ul li a:hover, #lista2 li a:hover
{
	color: white;
}
#lista3 li a:hover
{
	color: #265710;
}
nav ul li:hover
{
	/*border-left: 1px solid #ab6800; 
	border-right: 1px solid #ab6800;*/ 
	/*box-shadow: inset 0px 0px 40px #ab6800,
                      0px 0px 40px #e7b752;*/
}
/*Contenedor Derecho */ 
#otroDiv
{
	background-color: #6b6b6b;
	border-right: #757776 solid 1px;
	height: 34px;
	width: 20%;
	line-height: 35px;
	text-align: center;
	font-weight: bold;display: inline-block;
	vertical-align: top;
	color: white;
}
/* Contenedor Derecho*/ 
#derechoContenedor{
	display: inline-block;
	width:79.3%;
	height: 500px;
}
#izquierdoPerfil
{
	border-bottom: 2px solid #797b76;
	border-right: 2px solid #797b76;
	display: inline-block;
	vertical-align: top;
	background-color: #e5e5e5;
	width: 20%;
	margin-bottom: 25px;
}

/* Foto de Perfil*/
#fotoPerfil{
	border: 1px solid black;
	width: 40%;
	margin: 20px auto;
}
#fotoPerfil img{
	width: 100%;
	padding: 1%;
}

/* Lista de Opciones de Perfil*/
#lista2{
	display: block;
	text-align: center;
	list-style: none;
}

/* Lista de Mi perfil , edicion, Salir*/
#lista3
{
	margin-top: 5em;
	text-align: center;
	width: 100%;
}
#lista3 li{
	width: 100%;
	background: #f7f7f7; /* Old browsers */
	background: -moz-linear-gradient(top,  #f7f7f7 0%, #dbdbdb 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#dbdbdb)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f7f7f7 0%,#dbdbdb 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f7f7f7 0%,#dbdbdb 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f7f7f7 0%,#dbdbdb 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f7f7f7 0%,#dbdbdb 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#dbdbdb',GradientType=0 ); /* IE6-9 */
}

#lista3 li:hover{
	background-color: #6b6b6b;
}
.titulo, .titulo2{
	margin-top: 10px;
	margin-left: 2%;
}
/* contenedor fallas pagina 1*/
#contenedorFallas{
	margin: 0 auto;
	width: 70%;
	height: 380px;
	background-color: #e5e5e5;
}
#contenedorFallas p{
	font-weight: bold;
	margin-left: 2.2%;
}
.graficaFallas{
	background-color: #6b6b6b;
	margin: 0 auto;
	width: 95%;
	height: 310px;
}

/* Contenedoro seguimiento de fallas */
.textoBuscar,#textoAgregar{
	width: 50%;
	padding: 0.5%;
	margin: 0 auto;
	margin-left: 2%;
	border: 0;
	border-radius: 8px;
	text-indent: justify;
}
.btnBuscar,#btnAgregar{
	color: white;
	width: 10%;
	padding: 0.5%;
	margin: 0 auto;
	border: 0;
	border-radius: 8px;
	background-color: #6b6b6b;

}
#menuFallas{
	width: 614px;
	margin-top: 10px;
	margin-left:10px;
	background-color: #6b6b6b;
	opacity: 0.76;
}
#menuFallas li{
	display: inline-block;
	width: 150px;	
	text-align: center;
}
#menuFallas li:hover,#menuFallas a:hover{
	background-color: #e7e7e7;
	color:black;
}
#menuFallas a{
	color:white;
}
#contenedorSeguimiento{
	width: 57.4%;
	height: 300px;
	overflow: auto;
	padding: 1%;
	margin-top: 10px;
	margin-left: 2%;
	background-color: #e5e5e5;
}
#tabla{
	width: 85%;
	margin: 0 auto;
	border: 1px solid white;
	background-color: #6b6b6b;
	color: white;
}
#tabla tr{
	text-align: center;
	border: 1px solid white;
}
#tabla td,th{
	border: 1px solid white;
	margin-top: 20px;
}

/* Contenedor del Mapa*/
#contenedorMapa{
	display: inline-block;
	padding: 0.5%;
	position: absolute;
	border: 2px solid white;
	width: 30%;
	left: 65%;
	top: 35%;
}
.mapa {
	width: 80%;
	margin: 0 auto;
	height: 200px;
	background-color: #6b6b6b;
	margin-bottom: 10px;
}

/* Contenedor perfil de usuario*/
#contenedorPerfil{
	width: 57.4%;
	height: 350px;
	padding: 1%;
	margin-top: 10px;
	margin-left: 2%;
	background-color: #6b6b6b;
	display: inline-block
} 

/*pestañas */
#tabs{
	
	vertical-align: middle;
}
#tabs li{
	display: inline-block;
	text-align: center;
	width: 189px;
	padding: 2px;
	margin-left: 50px;
	background-color: #272622;
}

#tabs li:hover{
	background-color: #8b898a;
}
#tabs a{
	color: white;
}

/* contenido en las pestañas */
.tabCont{
	border: 1px solid black;
	background-color: #ececec;
	width: 90%;
	height: 310px;
	margin: 0 auto;
}
/* Foto en edicion de perfil*/
#perfilGrande{
	border: 1px solid #686868;
	width: 180px;
	display: inline-block;
	margin-right: 6px;
}

#perfilGrande img{
	vertical-align: middle;
	width: 100%;
	padding: 1%;
}
#perfilGrande > a{
	margin-left: 25%
}

#tablaPerfil{
	display: inline-block;
	width: 50%;
	padding: 1%;
	/*line-height: 21px;*/
}
.bold{
	font-weight: bold;
	text-align: left;
}
.noBold{
	text-align: center;
}

#textoAgregar{
	margin-top: 20px;
	width: 70%;
	padding: 1%;
	text-align: justify;
}
#btnAgregar{
	margin-left: 10px;
	width: 90px;
	padding: 1%;
}
/*Actividad y descripcion de la actividad */
#contActividades{
	
	width: auto;
	height: 250px;
	padding: 1%;
	overflow: auto;
}
.imgActv{
	border: 1px solid black;
	width: 45px;
	height: 45px;
	background-color: grey;
	display: inline-block;
	margin: 0 auto;
}
.imgActv{
	padding: 1%;
}
.descrip{
	display: inline-block;
	width: auto;
	padding: 5px;
}
#tabs2{
	display: none;
}
/* Lista de tareas*/
#tareas{
	display: inline-block;
	padding: 0.5%;
	position: absolute;
	width: 30%;
	left: 65%;
	top: 15%;
}
fieldset{
	text-align: center;
	border: 2px solid white;
	font-weight: bold;
	height: 180px;
}
legend{
	background-color: #e3e3e3;
	padding: 3px;
}
#listaTareas, .listaEstilo
{
	background-color: #e3e3e3;
	border: 2px solid white;
	list-style: none;
	text-align: justify;
	padding: 1%;
	width: auto;
	overflow: auto;
	height: 130px;

}
/*Calendario */
#calendario{
	padding: 0.5%;
	border: 2px solid #FFF;
	display: inline-block;
	margin: 0px auto;
	width: 30%;
	margin-left: 3.9%;

}

/* Mapas*/

#map {
    display: block;
    width: 100%;
    height: 350px;
}

#map {
    background: #58B;
}

#formFallas
{
	background-color: black;
	display: inline-block;
	vertical-align: top;
	padding: 20px;
	width: 30%;
	margin: 0 15px;
	background-color: #E5E5E5;
}
#cont
{
	background-color: blue;
	padding: 10px;
	background-color: #6B6B6B;
}
/*
#formFallas{
	position: absolute;
	background-color: #E5E5E5;
	display: inline-block;
	width: 35%;
	margin-left: 10px;
}*/
/* Agregar Centrales*/
#mapCont{
	clear: both;
	display: inline-block;
	margin-left: 10px;
	background-color: #e5e5e5;
	width: 60%;
}

/*#cont{
	display: inline-block;
	background-color: #6B6B6B;
	margin: 20px auto;
	position: relative;
	padding: 10px;
	width: 80%;
	left: 25px;
}*/
.datos_Mapa{
	text-align: center;
	display: block;
	margin: 0 auto;
	padding: 5px;
	font-weight: bold;
	border: 0;
	border-radius: 5px;
}
#longs,#btn_datos2 
{
	margin-top: 10px;
}
label{
	color: white;
}
#btn_datos{
	width: 100%;
	margin: 10px auto;
	margin-left:60px;
}
.btn_datos_mapa{
	width: 90px;
	padding: 5px;
	border:0;
	border-bottom: 1px solid #e09509;
	border-radius: 2px;
	background-color: #e7b752;
	color: white;
	font-weight: bold;
}
#btn_datos2
{
	text-align: center;
}
.btn_datos_mapa:hover{
	background-color: #E5E5E5;
	color: black;
	border-bottom: 1px solid #6B6B6B;
}

/* Mensaje de error y satisfecho */

#success, #error{
	margin: 10px auto;
	width: 40%;
	border-radius: 5px;
	text-align: center;
	padding: 5px;
	color: white;
	font-weight: bold;
}
#success{
	background-color: rgb(27,206,90);
}
#error
{
	background-color: rgb(226,0,26);
}


/*------------------Pagina Clientes-------------------*/

#consultarCliente, #modificarCliente, #ingresarCliente, #eliminarCliente, .spanAtrasClientes, #consultarEquipos, #modificarEquipos, #ingresarEquipos, #consultarEnlaces, #modificarEnlaces, #ingresarEnlaces, .consultarIcono, .modificarIcono, .ingresarIcono
{
	display: block;
	margin-bottom: 8px;
	font-family: 'icomoon';
	font-size: 50px;
	font-weight: normal;
}
#dibujoConsultar, #linkEquipos, #linkEditarEquipos, .linkEditarEquipos, .equipoConsultarMas
{
	font-family: 'icomoon';
	font-size: 22px;
	font-weight: normal;
}
#linkEditarEquipos:before, .linkEditarEquipos:before
{
	content: "\f040";
}
#linkEquipos:before, .equipoConsultarMas:before
{
	content: "\e606";
}
.spanAtrasClientes:before
{
	content: "\e61f";
}
#dibujoConsultar:before 
{
	content: "\e60c";
}
#consultarCliente:before, #consultarEquipos:before, #consultarEnlaces:before, .consultarIcono:before
{
	content: "\e60d";
}
#modificarCliente:before, #modificarEquipos:before, #modificarEnlaces:before, .modificarIcono:before
{
	content: "\f044";
}
#ingresarCliente:before, #ingresarEquipos:before, #ingresarEnlaces:before, .modificarIcono, .ingresarIcono:before
{
	content: "\e60f";
}
#eliminarCliente:before
{
	content: "\e608";
}

#ulMenuIconos
{
	list-style: none;
	text-align: center;
}
#ulMenuIconos a
{	
	color: #ab6800;
}
#ulMenuIconos li
{
	display: inline-block;
	vertical-align: top;
	margin-top: 1em;
	padding: 0.5em;
	width: 20%;
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
}
.textoAbajo
{
	font-weight: bold;
	color: #ab6800;
}
#ulMenuIconos li:hover
{
	cursor: pointer;
	transform: scale(1.08);
	-webkit-transform: scale(1.08);
	-moz-transition: all 0.5s ease;
}
 .spanAtrasClientes:hover
 {
 	transform: scale(1.08) rotate(20deg);
	-webkit-transform: scale(1.08) rotate(20deg);
	-moz-transition: all 0.5s ease;
 }
 .spanAtrasClientes
 {
 		margin: 0 auto;
	font-size: 30px;
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
 }
.contenedorAfuera, .contenedorAdentro, #divMenuIconos
{
	background-color: #e3e3e3;
	border-radius: 5px;
	padding: 1em;
}
#tituloCliente
{
	text-align: center;
	color: #265710;
}
#ulMenuIconos
{
	margin: 0;
}
/*#contenedorMenuClientes
{
	display: none;
}*/
#contenedorMenuClientes, .contenedorAfuera
{
	background-color: #6b6b6b;
	border-radius: 5px;
	padding: 20px 25px;
	margin: 1em;
}
.contenedorAfuera
{
	color: black;
	text-align: center;
}
#labelBuscarClientes, #labelBuscarEquipos
{
	color: black;
	font-weight: bold;
}
.h2Clientes
{
	margin-top: 10px;
	color: #ab6800;
}
#formConsultarClientes, .formConsultarEquipos
{
	margin-top: 1.5em;
}

/*#tablaConsultarDatos,#tablaConsultarDatos1,  #tablaConsultarDatos2*/

#tablaConsultarDatos, #tablaConsultarDatos2, .tablaEstilo

{
	margin: 1.3em auto 0 auto;
	width: 80%;
}

#tablaConsultarDatos thead ,#tablaConsultarDatos1 thead, #tablaConsultarDatos2 thead
{
	background-color: #E7B752;
}
#tablaConsultarDatos thead th,#tablaConsultarDatos1 thead th,  #tablaConsultarDatos2 thead th
{
		padding: 5px 10px;
}
/*#tablaConsultarDatos ,#tablaConsultarDatos1,#tablaConsultarDatos2*/

#tablaConsultarDatos thead ,#tablaConsultarDatos2 thead, .tablaEstilo thead
{
	background-color: #E7B752;
}
#tablaConsultarDatos thead th, #tablaConsultarDatos2 thead th, .tablaEstilo thead th
{
		padding: 5px 10px;
}
#tablaConsultarDatos ,#tablaConsultarDatos2, .tablaEstilo
{
	border: 1px solid #fff;
	background-color: #ededed;
}

#tablaConsultarDatos tr td ,#tablaConsultarDatos1 tr td,#tablaConsultarDatos2 tr td ,#tablaConsultarDatos tr td ,#tablaConsultarDatos2 tr td, .tablaEstilo tr td

{
	border: 1px solid #fff;
	padding: 5px;
}
.linkAtrasConsultarCliente
{
	color: #356710;
}
.contenedorAfuera a
{
	color: #356710;
}
.contenedorAfuera label
{
	color: black;
	font-weight: bold;
} 
#formIngresarClientes, #formIngresarClientes2
{

	display: inline-block;
	padding: 10px;
	position: relative;
}
#tamaClien
{
	margin: 1em auto 0 auto;
	width: 70px;
}
#tablaIngresarClientes
{
	background-color: #e7b752;
	border: 2px solid white;
	padding: 5px;
}
#tablaIngresarClientes td
{

	padding: 15px;
}
#ingresarClientes, 
{
	background-color: #fff;
	color: #572404;
	border: 2px solid #ab6800;
	font-weight: bold;
	padding: 7px 15px;
	margin-top: 1em;
}
#ingresarClientes:hover, 
{
	background-color: #784900;
	color: #ededed;
}
#eliminarClientes
{
	margin-left: 15px;
}

/* Asignar Salas*/
#contendorSalas{
	vertical-align: middle;
	margin: 0 auto;
	width: 90%;
	height: 400px;
	background-color: #e5e5e5;
	border-radius: 5px;
	padding: 15px;
} 

#ingresoSalas{
	display: inline-block;
	width: 40%;
	height: 380px;
	padding: 10px;
	background-color: #6B6B6B;
	border-radius: 5px;
	
}

#ingresoSalas label{
	text-align: justify;
}

#ingresoSalas textarea{
	resize:none;
	width: 300px;
	height: 140px;
	text-align: justify;
}
/* Mapa de salas*/
#contMapaSalas{
	display: inline-block;
	width: 50%;
	margin-left: 10px;
}
#contMapaSalas > .btn_datos_mapa{
	margin:5px auto;
}

#contMapaSalas > .btn_datos_mapa:hover{
	background-color: #6B6B6B;
	color: white;
}
/*Equipos - Parte del estilo se encuentra en Salas (ContenedorSalas)*/
#contEquipos{
	height:380px;
}

#ingresoEquipo > .btn_datos_mapa{
	width: 120px;
	margin: 5px auto;
}

/* titulo 2*/
.titulo2{
	text-align: center;
	color: green;
	margin: 5px auto;
	height: 50px;
}
.titulo2 h1{
	padding: 3px;
}
#contEquipos{
	margin-top: 10px;
	padding: 5px;
	background-color: #e5e5e5;
	height: 480px;
	border-radius: 5px;
}
#ingresoEquipo{
	display: inline-block;
	width: 45%;
	background-color: #6B6B6B;
	border-radius: 5px;
	padding: 5px;

}
.datos_equipo{
	width: 80%;
	display: block;
	padding: 5px;
	font-weight: bold;
	border: 0;
	border-radius: 5px;
	vertical-align: middle;
	margin:0 auto;
}


/* Ocultar Panales en clientes */
#consClientes,#ingClientes,#mdClientes,#tablaConsultarDatos,#tablaConsultarDatos2,#formIngresarClientes2{
	display: none;
}
/*-----------------------EQUIPOS------------------------------*/

#divConsultarEquipoIz, #divConsultarEquipoDer
{
	
}
.contenidoEquipos
{
	margin-top: 1em;
}
#linkEquipos
{
	font-size: 16px;
}
#divConsultarEquipoDer
{
	display: inline-block;
	border-radius: 5px;
	padding: 5px;
	background: #356710;
}
#mapaCentral
{
	display: inline-block;
	border-radius: 5px;
	padding: 5px;
	background: #ab6800;
	margin-left: 0.5em;
}
#mapaCentral2
{
	display: inline-block;
	border-radius: 5px;
	padding: 5px;
	background: #356710;
	margin-left: 0.5em;
}
#mapaCentral33
{
	border-radius: 5px;
	display: inline-block;
	padding: 5px;
	background: #356710;
	width: 70%;
	margin: 0 auto;
}
#map2, #map3
{
    display: inline-block;
    vertical-align: middle;
    width: 400px;
    height: 220px;
    
}
#map2consultar, #map3consultar
{
    display: inline-block;
    vertical-align: middle;
    width: 400px;
    height: 230px;
    
}
#mapCentral, #mapCentral3, #mapCentral4
{
    display: inline-block;
    vertical-align: middle;
    width: 450px;
    height: 300px;
}
#mapCentralll, #mapCentral6
{
    display: inline-block;
    vertical-align: middle;
    width: 450px;
    height: 380px;
}
#mapCentral1, #mapCentral5
{
    display: inline-block;
    vertical-align: middle;
    width: 350px;
    height: 200px;
}
#mapCentral2
{
    display: inline-block;
    vertical-align: middle;
    width: 600px;
    height: 350px;
}
#tablaConsultarEquipos,#tablaConsultarEquipos2
{
	margin: 0 auto 0.8em auto;
	text-align: center;
	background-color: #e7b752;

}
#tablaConsultarEquipos td,#tablaConsultarEquipos2 td
{
	border-bottom: 1px solid #ab6800;
	padding: 5px;
}
.rightTabla
{
	border-right: 1px solid #ab6800;
}
#modificarEquipo1
{
	margin-top: 1em;
	padding: 5px 10px;
}
#modificarEquipo2, #aceptarEquipo, #eliminarEquipo1, .modificarEnlace1, .botonEnlace, #nuevaObservacion
{
	margin-top: 0.3em;
	padding: 5px 10px;
}
.modificarEnlace2
{
	margin-top: 1em;
	padding: 5px 10px;
}
#tablaModificarEquipo, .tablaModificarEnlace
{
	background-color: #ededed;
	border: 1px solid #fff;
	margin: 1em auto;
}
#tablaModificarEquipo td, .tablaModificarEnlace td
{
	border-bottom: 1px solid #fff;
	padding-top: 5px;
	padding-bottom: 5px;
	
}
.leftModificarEnlace
{
	background-color: #e7b752;
	width: 150px;
	padding-right: 10px;
	text-align: right;
	padding-left: 5px;
}
#leftModificarEquipo
{
	background-color: #e7b752;
	width: 130px;
	padding-right: 10px;
	text-align: right;
	padding-left: 5px;
}
#rightModifiarEquipo
{
	padding-left: 10px;
	text-align: left;
	padding-right: 5px;
}
#linkNuevoTipoEquipo, #linkSeleccionarTipoEquipo, #linkNuevaMarca, #linkSeleccionarMarca
{
	font-size: 13px;
}
#consultarTransitos, #consultarPosiciones
{
	margin-top: 0.8em;
	width: 40%;
	display: inline-block;
}
#consultarTransitos fieldset, #consultarPosiciones fieldset
{
	background-color: #e7b752;
}
#consultarTransitos fieldset legend, #consultarPosiciones fieldset legend
{
	background-color: #e7b752;
	color: #000;
	border: 2px solid #fff;
	width: 60%;
}
.espacioArribaModificar
{
	margin-top: 0.5em;
	display: inline-block;
	vertical-align: top;
	width: 30%;
}
.espacioArribaModificar2
{
	margin-top: 0.8em;
	margin-bottom: 1em;
}
.noEditar
{

}
.espacioLeft
{
	
}
.displayInline
{
	display: inline-block;
	vertical-align: top;
	width: 40%;
}
.displayInline2
{
	display: inline-block;
	margin-top: 1em;
	vertical-align: top;
}
.espacioArriba
{
	margin-top: 1.5em;
}
#tablaresuelta
{
	width: 50%;
}
.left
{
	padding-right: 5px; 
	text-align: right;
}
.right
{
	padding-left: 5px;
	text-align: left;
}
.espacioLeft
{
	margin-left: 10px;
}
.displayNone
{
	display: none;
}
.linkAtrasClientes:hover, .equipoConsultarMas:hover, .linkEditarEquipos:hover
{
	cursor: pointer;
}
#numEnlaceIngresar, #rutaEnlaceIngresar
{
	width: 100%;
}
#ubicacionEnlaceIngresar
{

}
.tamInputIngresar
{
	width: 90%;
}
.modPos1 li:hover
{
	background-color: gray;
	color: #ededed;
	cursor: pointer;
}
.tranMod li
{

}
.colorOscuro
{
	background-color: #ab6800;
	color: #ededed;
}

/*CENTRALESSSSSSSSSSSSSSSSSSSSSSSSSSS*/

#divIngresarCentral
{
	background-color: #e7b752;
	border: 3px solid white;
	padding-top: 1.5em;
	padding-left: 0.7em;
	padding-right: 0.7em;
	height: 280px;
	width: 30%;
}
#divCentralIngresarDesign
{
	min-width: 223px;
	width: 30%;	
}
#divIngresarSala
{
	background-color: #e7b752;
	border: 3px solid white;
	padding-top: 1.5em;
	padding-left: 0.7em;
	padding-right: 0.7em;
	height: 335px;
	width: 30%;
}

.arribaCentralBotones
{
	margin-top: 1em;
}
.centrar
{
	margin: 0.5em auto;
	text-align: center;
}
.displayBlock
{
	display: block;
}

.displayInline3
{
	display: inline-block;
	vertical-align: middle;
}
.displayInline6
{
	display: inline-block;
	vertical-align: top;
}
.displayInline4
{
	border: 0px solid red;
	display: inline-block;
	vertical-align: bottom;
}
.displayInline5
{
	border: 0px solid red;
	display: inline-block;
	vertical-align: text-bottom;
}

#buscarCentral
{
	cursor: pointer;
}
.mapCentralOculto
{
	margin-top: 1em;
}

/*SALASSSSSSSSSSSSSSSSSSSSSSSSSS*/

#tablaConsultaSalas, #tablaModificarSalas
{
	display: inline-block;
	vertical-align: middle;
	width: auto;
	margin-top: 0;
	margin-left: 2%;
}

#tablaConsultaSalas thead th
{
	width: 120px;
}
#divConsultaSalaSelect
{
	background-color: #e7b752;
	vertical-align: middle;
	width: 360px;
	border-radius: 5px;
	border: 2px solid white;
	margin-bottom: 1em;
}
#divConsultaSalaSelect5
{
	background-color: #e7b752;
	vertical-align: middle;
	width: 380px;
	border-radius: 5px;
	border: 2px solid white;
	margin-bottom: 1em;
}
#sCentralCon
{
	margin-top: 6px;
	margin-bottom: 6px;
}
#tablaModificarSalas .demasThSalas
{
	width: 100px;
}
#modificaSala
{
	width: 20px;
}
.arribaCentralBotones2
{
	margin-top: 1.5em;
}
#divConsultaSalaSelect2
{
	background-color: #e7b752;
	vertical-align: middle;
	width: 400px;
	border-radius: 5px;
	margin-left: 2%;
}
.espacioSalaIngresar
{
	margin-right: 2%;
}

/*CAMPOOOO DE BUSQUEDAAAAAAAAAA*/

#searchform 
{
    width: 280px;
	height:30px;
    padding: 8px;
	margin: 10px auto 0 auto;/*
    background: #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 2px 0 rgba(255,255,255,.5);*/
}
#searchform input 
{
    width: 190px;
	height:20px;
    padding: 5px;
    float: left;
    border: 0;
    background: #eee;
    border-radius: 3px 0 0 3px;
	box-shadow: 0 1px 1px rgba(0,0,0,.4) inset;
}
#searchform input:focus 
{
	outline: 0;
	height:21px;
    background: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
}
#searchform input:-webkit-input-placeholder 
{
   color: #999;
   font-weight: normal;
   font-style: italic;
}
#searchform input:-moz-placeholder 
{
    color: #999;
    font-weight: normal;
    font-style: italic;
}
#searchform input:-ms-input-placeholder 
{
    color: #999;
    font-weight: normal;
    font-style: italic;
}   
#searchform button 
{
    position: relative;
    float: right;
    border: 0;
    cursor: pointer;
    height: 30px;
    width: 80px;
    font-size:15px;
    color: #fff;
    background: #18489A;
    border-radius: 0 3px 3px 0;
    text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
}  
#searchform button:hover{
    background: #ab6800;
}
#searchform button:active,
#searchform button:focus
{
    background: #356710;
}
#searchform button:before 
{ /* flecha */
    content: '';
    position: absolute;
    border-width: 8px 8px 8px 0;
    border-style: solid solid solid none;
    border-color: transparent #18489A transparent;
    top: 8px;
    left: -5px;
}
#searchform button:hover:before
{
    border-right-color: #ab6800;
}
#searchform button:focus:before
{
    border-right-color: #356710;
}   

/* Formulario de Contacto, Estilo Negro Limón
----------------------------------------------- */
/* Contenedor principal */
.contact-form-widget {
	width:100%;
	max-width: 300px;
	margin: 1em auto;
	margin-bottom: 25px;
	padding: 16px;
	padding-top: 1.3em;
	border:none;
	background: #eee;
	border-bottom: 35px solid #18489A;
	border-top: 5px solid #e7b752;
	border-radius: 4px;
	color: #000;
	text-align: left;
}
/* Estilos de los campos */
.contact-form-name, .contact-form-email, .contact-form-email-message
{
	width: 100%;
	max-width: 100%;
	margin-bottom: 10px ;
	display: block;
	padding: 5px;
	border: 0;
    background: #eee;
    border-radius: 3px 0 0 3px;
	box-shadow: 0 1px 1px rgba(0,0,0,.4) inset;
	margin-top: 3px;
}
.contact-form-email-message
{
	height: 4em;
}
.contact-form-name:focus , .contact-form-email:focus
{
	outline: 0;
	height:21px;
    background: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
}
.contact-form-email-message:focus 
{
	outline: 0;
	height:3em;
    background: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
}
/* Campo del mensaje */
.contact-form-email-message {
}
/* Botón de enviar */
.contact-form-button-submit {
	width: 25%;
	max-width: 35%;
	height: auto;
	background: #e7b752;
	height: 30px;
	padding: 2px 5px;
	border-radius: 2px;
	border: none;
	color: #282828;
	font-size: 16px;
	font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
	font-weight: normal;
	margin-top: 1em;
	margin-bottom: 5px;
}
/* Botón de enviar al pasar el cursor */
.contact-form-button-submit:hover{
	background: #F9D423;
	color: #282828;
	border: none;
}

/*EQUIPOOOO*/

#divConEquipoArriba
{
	margin-top: 0;
	width: 50%;
	max-width: 600px;
	min-width: 300px;
}
#divConEquipoArriba2
{
	margin: 0em auto;
	width: 30%;
	max-width: 600px;
	min-width: 300px;
}

#divConEquipoArriba3
{
	margin: 0.5em auto;
	width: 30%;
	max-width: 600px;
	min-width: 300px;
}

#tiposEquipo:focus, #marcaEquipo:focus, #idCondi, #centrales, #salaCentral, #centralParaModificar, #salaCentrarModificar, #tipoEquipoParaModificar, #marcaParaModificar,#centralEnlaceIngresar:focus,#salaEnlaceIngresar:focus, #equipoEnlaceIngresar:focus,#clienteEnlaceIngresar:focus,#clientesEnlaceModificar:focus, #equiposEnlaceModificar:focus,#salaModificarEnlace:focus,#modificarCentralEnlace:focus,#ingresarCentralSalas:focus,#ingresarDesSalas:focus,#consultarSalasSalas:focus,#modificarSalasSalas:focus,#modificarCentralSalas:focus,#modificarDesSalas:focus,#centralEditar,#ingresarUsuarioSelect,#centralModificarUsuario,#rolModificarUsuario,#rolUsuarioSelect,#generoUsuarioSelect,#generoUsuarioSelectModificar
{
	height:auto;
}
#consultarSalasSalas,#modificarSalasSalas
{
	display: inline-block;
	width: auto;
}
#tiposEquipo, #marcaEquipo, #centralParaModificar,#salaCentrarModificar, #tipoEquipoParaModificar, #marcaParaModificar
{
	display: inline-block;
	margin-right: 8px;
	width: auto;
}
#tipoN, #marcaN
{
	display: inline-block;
	margin-right: 8px;
	width: 70%;
}
.tamAingEquipo
{
	cursor: pointer;
	font-size: 14px;
}
#divIngresarEquipo
{
	width: 45%;
	min-width: 350px;
	max-width: 600px;
}
#centralParaModificar, #salaCentrarModificar, #tipoEquipoParaModificar, #marcaParaModificar
{
	width: 100%;
}
#linkParaNuevoTipoIngresar,#linkParaSelectTipoIngresar, #linkParaSelectMarcaIngresar, #linkParaNuevoMarcaIngresar
{
	cursor: pointer;
}
.divEspRig
{
	margin-right: 2em;
}
.abajoEspPosTran
{
	margin-bottom: 0.8em;
}
#inputTransitoIngresarEnlace, #inputPosicionIngresarEnlace, #inputTransitoAgregarModificar, #inputTransitoModificar, #inputPosicionAgregarModificar,#inputPosicionModificar
{
	margin: 0 auto;
	width: 100%;
	background-color: #fff;
    border-left: 4px solid #18489A;
}
#inputTransitoModificar, #inputTransitoAgregarModificar, #inputPosicionAgregarModificar,#inputPosicionModificar
{
	margin: 0.7em auto;
	width: 90%;
}
#inputTransitoIngresarEnlace:focus, #inputPosicionIngresarEnlace:focus
{	
    background-color:white;
    border-left: 4px solid #18489A;
}
#widDiv25
{
	margin-left: 1em;
}
#agregarTransitoIngresarEnlace,#agregarPosicionIngresarEnlace,#ingresarNuevoEnlace
{
	cursor: pointer;
}
#arrDivEnNew
{
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}
.fontSize16
{
	font-size: 16px;
	font-family: sans-serif;
	font-weight: bold;
}
#eliminarEnlace3
{
	margin-left:5%;
}
.todoInput
{
	width: 100%;
}
#tablaConsultarCentrales thead
{
	background-color: #18489A;
	color: #ededed;
}
#tablaConsultaSalas
{
	margin-top: 1em;
}
.espaciosSalasAbajo
{
	margin-bottom: 1em;
}
/*#consultaFallas3 thead
{
	background-color: #356710;
	color: #fff;
}*/
#spanObservaciones
{
	text-align: left;
	font-weight: bold;
	font-size: 18px;
	color: #18489A;
}
#consultaFallas3
{
	margin-top: 0.5em;
}
#numEnla
{
	color: #7F120A;
}
/*.divFallaResueltaModificar,.divBotonesModificar
{
	border: 2px solid red;
}*/
#divConEquipoArriba5
{
	margin-top: 0;
	width: 50%;
	max-width: 600px;
	min-width: 300px;
	margin-bottom: 0;
}	
.bold
{
	font-weight: bold;
}
.wid50
{
	margin: 0 auto;
	width: 50%;
}
#textareaObservacion
{
	border-radius: 5px;
	height: 40px;
	max-height: 60px;
}
.floatRight
{
	float: right;
	width: 30%;
}
.floatRight2
{
	cursor: pointer;
	font-size: 13px;
	float: right;
}
.espacioRight
{
	margin-right: 8px;
}
.aLaIzquierda
{
	text-align: left;
}
#fotoPerfil2
{
	margin: 0;
	width: 100%;
	text-align: center;
	/* background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
    background-image: -webkit-linear-gradient(top, #fff, #ededed); 
    background-image:    -moz-linear-gradient(top, #fff, #ededed); 
    background-image:     -ms-linear-gradient(top, #fff, #ededed); 
    background-image:      -o-linear-gradient(top, #fff, #ededed); 
    background-image:         linear-gradient(top, #fff, #ededed);*/
}
#fotoPerfil2 img
{	
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
    background-image: -webkit-linear-gradient(top, #fff, #ededed); 
    background-image:    -moz-linear-gradient(top, #fff, #ededed); 
    background-image:     -ms-linear-gradient(top, #fff, #ededed); 
    background-image:      -o-linear-gradient(top, #fff, #ededed); 
    background-image:         linear-gradient(top, #fff, #ededed);
	width: 100%;
}
.captionFigurePerfil
{
	background-color: #18489A;
	border: 2px solid #18489A;
	color: #fff;
	font-weight: bold;
	font-size: 14px;
	padding: 1px 0;
}
.captionFigurePerfil2
{
	overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}
#widDiv70otro
{
	margin: 0;
	width: 100%;
	width: 65%;
	word-break: break-all;
}
#widDiv30otro
{
	margin: 0;
	padding: 0;
	width: 30%;
	margin-right: 0.5em;
}
#widDiv70
{
	width: 70%;
}




/*TABSSSSSSSSSSSSSSSSSSSSSSS*/

#pestaTab
{
  overflow: auto;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

#pestaTab li
{
    margin: 0;
    padding: 0;
    float: left;
}

#pestaTab a
{
    -moz-box-shadow: -4px 0 0 rgba(0, 0, 0, .2);
    -webkit-box-shadow: -4px 0 0 rgba(0, 0, 0, .2);
    box-shadow: -4px 0 0 rgba(0, 0, 0, .2);
    background: #7F120A;
   /* background:    -moz-linear-gradient(220deg, transparent 10px, #7F120A 10px);
    background:    -webkit-linear-gradient(220deg, transparent 10px, #7F120A 10px);     
    background:     -ms-linear-gradient(220deg, transparent 10px, #7F120A 10px); 
    background:      -o-linear-gradient(220deg, transparent 10px, #7F120A 10px); 
    background:         linear-gradient(220deg, transparent 10px, #7F120A 10px);*/
    text-shadow: 0 1px 0 rgba(0,0,0,.5);
    color: #fff;
    float: left;
    font: bold 12px/35px 'Lucida sans', Arial, Helvetica;
    height: 35px;
    padding: 0 30px;
    text-decoration: none;
}

#pestaTab a:hover
{
    background: #18489A;
    /*background:    -moz-linear-gradient(220deg, transparent 10px, #18489A 10px);
    background:    -webkit-linear-gradient(220deg, transparent 10px, #18489A 10px);     
    background:     -ms-linear-gradient(220deg, transparent 10px, #18489A 10px); 
    background:      -o-linear-gradient(220deg, transparent 10px, #18489A 10px); 
    background:         linear-gradient(220deg, transparent 10px, #18489A 10px);     */
}

#pestaTab a:focus
{
    outline: 0;
}

#pestaTab #current a
{
    background: #fff;
    background:    -moz-linear-gradient(220deg, transparent 10px, #fff 10px);
    background:    -webkit-linear-gradient(220deg, transparent 10px, #fff 10px);     
    background:     -ms-linear-gradient(220deg, transparent 10px, #fff 10px); 
    background:      -o-linear-gradient(220deg, transparent 10px, #fff 10px); 
    background:         linear-gradient(220deg, transparent 10px, #fff 10px);
    text-shadow: none;    
    color: #333;
}

#content
{
    background-color: #fff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd));
    background-image: -webkit-linear-gradient(top, #fff, #ddd); 
    background-image:    -moz-linear-gradient(top, #fff, #ddd); 
    background-image:     -ms-linear-gradient(top, #fff, #ddd); 
    background-image:      -o-linear-gradient(top, #fff, #ddd); 
    background-image:         linear-gradient(top, #fff, #ddd);
   /* -moz-border-radius: 0 2px 2px 2px;
    -webkit-border-radius: 0 2px 2px 2px;
    border-radius: 0 2px 2px 2px;
    -moz-box-shadow: 0 2px 2px #000, 0 -1px 0 #fff inset;
    -webkit-box-shadow: 0 2px 2px #000, 0 -1px 0 #fff inset;
    box-shadow: 0 2px 2px #000, 0 -1px 0 #fff inset;*/
    padding: 30px;
    width: 60%;
    margin-bottom: 2em;
}

/* Remove the rule below if you want the content to be "organic" */
#content div
{
}

/* --- */
#about
{
    color: #999;
}

#about a
{
    color: #eee;
}

/*Campo actividad*/
/*CAMPOOOO DE BUSQUEDAAAAAAAAAA*/

#searchform2 
{
    width: 100%;
	height:30px;
    padding: 8px;
    margin-bottom: 5px;/*
    background: #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 2px 0 rgba(255,255,255,.5);*/
}
#searchform2 input 
{
    width: 80%;
	height:25px;
    padding: 5px;
    float: left;
    border: 0;
    background: #eee;
    border-radius: 4px;
	box-shadow: 0 1px 1px rgba(0,0,0,.4) inset;

}
#searchform2 input:focus 
{
	outline: 0;
	height:21px;
    background: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
}
#searchform2 input:-webkit-input-placeholder 
{
   color: #999;
   font-weight: normal;
   font-style: italic;
}
#searchform2 input:-moz-placeholder 
{
    color: #999;
    font-weight: normal;
    font-style: italic;
}
#searchform2 input:-ms-input-placeholder 
{
    color: #999;
    font-weight: normal;
    font-style: italic;
}   
#searchform2 button 
{
    position: relative;
    float: right;
    border: 0;
    cursor: pointer;
    height: 30px;
    width: 17%;
    font-size:15px;
    color: #fff;
    background: #18489A;
    border-radius: 0 3px 3px 0;
    text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
}  
#searchform2 button:hover{
    background: #356710;
}
#searchform2 button:active,
#searchform2 button:focus
{
}
#searchform2 button:before 
{ /* flecha */
    content: '';
    position: absolute;
    border-width: 8px 8px 8px 0;
    border-style: solid solid solid none;
    border-color: transparent #18489A transparent;
    top: 8px;
    left: -5px;
}
#searchform2 button:hover:before
{
    border-right-color: #356710;
}
/*#searchform2 button:focus:before
{
    border-right-color: #18489A;
}   */
#trabajando
{
	margin: 0;
	margin-top: 8px;
	padding-left: 8px;
	height: 300px;
	width: 100%;
	overflow: auto;
	/*border:1px solid red;*/
}
.fotoPerfilActividad
{/*
	border:1px solid blue;*/
	width: 12%;
}
.fotoPerfilActividad img
{
	background-color: #ccc;
	border-radius: 4px;
	width: 100%;
	/*min-width: 60px;
	*/min-height: 60px;
}
.wid70
{/*
	border:1px solid green;*/
	margin-left: 5px;
	width: 85%;
	word-break: break-all;
}
.menosFont
{
	font-size: 15px;
}
#content2
{
    background-color: #fff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd));
    background-image: -webkit-linear-gradient(top, #fff, #ddd); 
    background-image:    -moz-linear-gradient(top, #fff, #ddd); 
    background-image:     -ms-linear-gradient(top, #fff, #ddd); 
    background-image:      -o-linear-gradient(top, #fff, #ddd); 
    background-image:         linear-gradient(top, #fff, #ddd);
    padding: 30px;
    width: 90%;
    margin-bottom: 2em;
}

/* Remove the rule below if you want the content to be "organic" */
#content2 div
{
}

/* --- */
#about
{
    color: #999;
}

#about a
{
    color: #eee;
}

.articleContra
{
	text-align: left;
	width: 80%;
}
#margArti
{
	margin-top: 1em;
}
#modificarPerfil, #cambiaCon
{
	cursor: pointer;
}
/*DISEÑO INPUT TYPE FILE*/
#archivos
{
	color: #ab6800;
	font-weight: bold;
	margin-top: 8px;
	margin-bottom: 25px;
	width: 90%;
}
#archivos:hover
{
	cursor: pointer;
}

/*Diseño Mensajes*/
#ulMensajes 
{
	list-style:none;
	display: inline-block;
	vertical-align: top;	
	padding: 0;
	margin: 0;
	width: 29%;
}
#ulMensajes li
{
	border: 1px solid #fff;
	background-color: #356710;
	cursor: pointer;
	padding: 0;
	color: #fff;
	text-shadow: 0 1px 0 rgba(0,0,0,.5);
	font: bold 12px/35px 'Lucida sans', Arial, Helvetica;
	width: 100%;
}
#ulMensajes li:hover
{
	background-color: #18489A;
}
#ulMensajes #current2
{
    background: #fff;
    color: #333;    
    text-shadow: none;    
}
#content3
{
    background-color: #fff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd));
    background-image: -webkit-linear-gradient(top, #fff, #ddd); 
    background-image:    -moz-linear-gradient(top, #fff, #ddd); 
    background-image:     -ms-linear-gradient(top, #fff, #ddd); 
    background-image:      -o-linear-gradient(top, #fff, #ddd); 
    background-image:         linear-gradient(top, #fff, #ddd);
    padding: 5px;
    width: 59%;
    display: inline-block;
    vertical-align: top;
    margin-left: -3px;
    min-height: 200px;
    max-height: 500px;
    overflow: auto;
}
.imagenMensajeMisMen
{
	margin: 0;
	padding: 0;
	
}
.imgMisMen
{
	width: 80px;
}
#tablaMisMensajes,#tablaMisMensajesEnviados
{
	padding: 0;
	width: 100%;
	text-align: left;word-break: break-all;	
}
#tablaMisMensajes a, #tablaMisMensajesEnviados a
{
	font-weight: normal;
	color: #18489A;
}
.fotoTabla
{
	background-color: #ededed;	
	width: 80px;
}
.otroTabla
{
	padding-left: 8px;
	padding-bottom: 5px;
	margin: 0;
}
.otroTablaOtro
{
	padding: 0;
	padding-left: 8px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.nomTabla
{
	display: inline-block;
	margin: 0;
	padding: 0;
	max-width: 60%;
}
.nomTabla2
{
	display: inline-block;
	margin: 0;
	padding: 0;
}
.rayaArriba
{
	border-top: 1px inset #ccc;
}
.rayaArriba2
{
	border-top: 1px solid #ccc;
}
.linkPeque
{
	cursor: pointer;
	font-size: 12px;
	margin-left: 8px;
}
#noTiene
{
	color: #7F120A;
	text-shadow: 0 1px 0 rgba(0,0,0,.5);
}
#correo1,#asunto1,#mensaje1
{
	border-radius: 5px;
	width: 98%;
}
#mensaje1
{
	height: auto;
	min-height: 120px;
	max-height: 200px;
	max-width: 98%;
}
#linkEnviarMensaje
{
	color: #18489A;
	cursor: pointer;
}
#tablaVerMas
{
	text-align: left;
	width: 100%;word-break: break-all;
}
#tablaVerMas tr
{
	border-bottom: 1px solid #ccc;	
}
#tablaVerMas tr td
{
	padding: 8px;

}
.fotoUsuarioConsultar
{
	background-color: #e3e3e3;	
	width: 20%;
}
.dididi
{
	width: 78%;
}
.separarTexto
{
	word-break: break-all;	
}
#linkGuardarCambios:hover,#linkAceptarUsuario:hover,#linkEliminar:hover,#linkEstablecer:hover
{
	cursor: pointer;
}
#linkGuardarCambios
{
	color: #7B2F9A;
	margin-right: 1em;
}
#linkEliminar
{
	color: #7F120A;
}
.marginTop
{
	margin-top: 2em;
}
.noSeUsuario,.noSeUsuario2
{
	font-size: 18px;
	font-weight: bold;
	color: #7F120A;
}
.marginOtroTop
{
	margin-top: 1.3em;
}
#yearGraficoSelect,#yearGraficoSelect3
{
	height: auto;
	margin: 0 auto;
	text-align: center;
	width: 50%;
}
#yearGraficoSelect2
{
	height: auto;
	margin: 0 auto;
	width: 70%;
}
#vvvvvv
{
	background: #356710;
	border-radius: 3px;
	min-height: 230px;
	margin-left: 5px;
	width: 25%;
}
#arribaFallas
{
	border-radius: 3px;
	color: #fff;
	font-weight: bold;
	background-color: #18489A;
	padding: 4px 2px;
}
#mamamama
{
	background-color: #eee;
	margin-right: 3px;
	margin-left: 3px;
	border-radius: 0 0 3px 3px;
	height: 192px;
	overflow: auto;
	padding-top: 7px;
	padding-left: 4px;
	padding-right: 4px;
	text-align: left;
}
.linkVer
{
	color: #356710;
	cursor: pointer;
	font-size: 12px;
}
#mmArrmm,#mmArrmm2
{
	margin-top: 0;
}
#iframeInforme
{
	width: 80%;
}
#h1Falla
{
	color: red;
}
.divMarginWidth
{
	border-bottom: 3px solid #356710;
	margin: 1em auto;
	padding: 9px;
	padding-bottom: 1.2em;
	margin-bottom: 2em;
	text-align: left;	
	width: 90%;
}
#linkImprimirInforme,.fallasConsultarMas
{
	cursor: pointer;
}

/*RESPONSIVEEE*/
@media (max-width: 908px){

	#derechoContenedor
	{
		width: 79%;
	}
}
@media (max-width: 839){

	#derechoContenedor
	{
		width: 79%;
	}
}