#formFallas{
	position: absolute;
	background-color: #E5E5E5;
	display: inline-block;
	width: 35%;
	margin-left: 10px;
	
}

#mapCont{
	clear: both;
	display: inline-block;
	margin-left: 10px;
	background-color: #e5e5e5;
	width: 60%;
}

#cont{
	display: inline-block;
	background-color: #6B6B6B;
	margin: 20px auto;
	position: relative;
	padding: 10px;
	width: 80%;
	left: 25px;
}
.datos_Mapa{
	text-align: center;
	display: block;
	margin: 5px auto;
	padding: 5px;
	font-weight: bold;
	border: 0;
	border-radius: 5px;
}

label{
	color: white;
}
#btn_datos{
	width: 100%;
	margin: 10px auto;
	margin-left:60px;
}
.btn_datos_mapa{
	display: inline-block;
	width: 90px;
	padding: 5px;
	border:0;
	border-bottom: 1px solid #e09509;
	border-radius: 2px;
	background-color: #e7b752;
	color: white;
	font-weight: bold;
}
.btn_datos_mapa:hover{
	background-color: #E5E5E5;
	color: black;
	border-bottom: 1px solid #6B6B6B;
}